.container{
	max-width: 1280px;
	margin: 0 auto;

}

.wrapper{
	width: 960px;
	padding: 15px;
	margin: 15px auto 15px;
	background-color: #f7efe0;
}

.wrapper legend{
	text-align: center;
}

p {
	width: 200px;
	margin: 0 auto;
	font-size: 30px;
}
.personal{
	width: 460px;
	margin: 0 auto;
}

.name label{
	margin-right: 70px;
}

.birth-date label{
	margin-right:31px;
}

.email label{
	margin-right: 68px;
}

.contact label{
	margin-right: 36px;
}

.describe label{
	margin-right: 2px;
	vertical-align: top;
}

.qualification{
	width: 460px;
	margin: 0 auto;
}

.schooling label{
	margin-right: 75px;
}
.college label{
	margin-right: 75px;
}

.grad label{
	margin-right: 39px;
}

.instruction{
	width: 475px;
	margin: 0 auto;
}

.agree{
	width: 226px;
	margin: 0 auto;
}

.button{
	width: 80px;
	margin: 0 auto;
}
